html, body {
    height: 100%;
    margin: 0;
    padding: 0; /* Ensure no padding causes space */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.App {
    flex: 1;
    box-sizing: border-box;
}

.Footer {
    background-color: #1a1a40;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: auto;
}